<a href="https://colab.research.google.com/github/ShawnLiu119/CapstoneProject_BankingMarketing/blob/main/BankMkting_featureengineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
url = 'https://raw.githubusercontent.com/ShawnLiu119/CapstoneProject_BankingMarketing/main/rawdata/bank-additional-full.csv'
data = pd.read_csv(url, sep=';')

In [15]:
data['education'].value_counts()

data_1 = data.copy()
data_1 = data_1[data_1['education'] != 'illiterate']

data_1['edu_new'] = data_1['education'].map({'basic.4y': 'pre_high', 
                                         'basic.9y': 'pre_high',
                                         'basic.6y': 'pre_high',
                                         'university.degree' : 'post_high',
                                         'professional.course':'post_high',
                                         'high.school' : 'high',
                                         'unknown' :'unknown' })

In [16]:
def map_job(row):
    if row['job'] in ['admin.', 'management', 'entrepreneur','self-employed']:
        cat = 'white_collar'
    elif row['job'] in ['housemaid', 'blue-collar', 'technician', 'services']:
        cat = 'blue_collar'
    elif row['job'] in ['student', 'retired', 'unemployed']:
        cat = 'not_working'
    else:
        cat = 'unknown'
    return cat

data_1['job_new'] = data_1.apply(map_job, axis=1)
data_1['job_new'].value_counts(dropna = False)

blue_collar     21017
white_collar    16217
not_working      3606
unknown           330
Name: job_new, dtype: int64

In [17]:
def map_month(row):
    if row['month'] in ['mar', 'apr', 'may']:
        cat = 'spring'
    elif row['month'] in ['jun', 'jul', 'aug']:
        cat = 'summer'
    elif row['month'] in ['sep', 'oct', 'nov']:
        cat = 'fall'
    else:
        cat = 'winter'
    return cat

data_1['season'] = data_1.apply(map_month, axis=1)
data_1['season'].value_counts(dropna = False)

summer    18660
spring    16942
fall       5386
winter      182
Name: season, dtype: int64

In [7]:
data_1.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'edu_new', 'job_new',
       'season'],
      dtype='object')

### Data Transformation - V1 (Agreed on Team Discussion)

In [13]:
#This transformed dataframe is based on group discussion on 7/23
# - keep all numerical features as they are
# - consolidate categorical features (education, job, season) and drop originial ones

df_tran_1 = data_1[['age', 'marital', 'default', 'housing', 'loan',
       'contact', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'edu_new', 'job_new', 'season']]

In [14]:
df_tran_1 = df_tran_1.drop(['duration'], axis=1)
df_tran_1.columns

Index(['age', 'marital', 'default', 'housing', 'loan', 'contact',
       'day_of_week', 'campaign', 'pdays', 'previous', 'poutcome',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'y', 'edu_new', 'job_new', 'season'],
      dtype='object')

### Data Transformation - V2 (Shawn's attempt based on FAMDD analysis)
##### if you are focusing on the agreed v1, feel free to skip this part, just want to experiment, may not have too signficant impact

In [20]:
data_2 = data.copy()

In [ ]:
#findings from FAMD analysis
# there is significant distinguishablity for feature - poutcome / contact / default, so no need to combine any features
# job -> separate student and retired stand alone as they are distinguished from others
# housing, loan are alomost overlapping for all segment, not meaningful to consolidate

In [23]:
data_2['edu_new'] = data_2['education'].map({'basic.4y': 'pre_colleage', 
                                         'basic.9y': 'pre_colleage',
                                         'basic.6y': 'pre_colleage',
                                         'university.degree' : 'post_colleage',
                                         'professional.course':'post_colleage',
                                         'illiterate': 'illiterate',
                                         'high.school' : 'pre_colleage',
                                         'unknown' :'unknown' })

data_2['edu_new'].value_counts(dropna = False)

pre_colleage     22028
post_colleage    17411
unknown           1731
illiterate          18
Name: edu_new, dtype: int64

In [24]:
def map_job_2(row):
    if row['job'] in ['admin.', 'management', 'entrepreneur','self-employed', 'housemaid', 'blue-collar', 'technician', 'services', 'unemployed']:
        cat = 'others'
    elif row['job'] in ['retired']:
        cat = 'retired'
    elif row['job'] in ['student']:
        cat = 'student'
    else:
        cat = 'unknown'
    return cat

data_2['job_new'] = data_2.apply(map_job_2, axis=1)
data_2['job_new'].value_counts(dropna = False)

others     38263
retired     1720
student      875
unknown      330
Name: job_new, dtype: int64

In [28]:
def map_marri(row):
    if row['job'] in ['divorced', 'married', 'unknown']:
        cat = 'not_single'
    else:
        cat = 'single'
    return cat

data_2['marr_new'] = data_2.apply(map_marri, axis=1)
data_2['marr_new'].value_counts(dropna = False)

single        40858
not_single      330
Name: marr_new, dtype: int64

In [29]:
def map_month_2(row):
    if row['month'] in ['mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov']:
        cat = 'non_winter'
    else:
        cat = 'winter'
    return cat

data_2['season_new'] = data_2.apply(map_month_2, axis=1)
data_2['season_new'].value_counts(dropna = False)

non_winter    41006
winter          182
Name: season_new, dtype: int64

In [33]:
df_tran_2 = data_2.drop(['job', 'marital', 'education', 'month'], axis=1)